@mixin box {
    width: 1200px;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

nav{
    width: 100%;
    background: gray;
    padding: 15px;
    font-size: 20px;

    #box{
        @include box();
        display: grid;
        grid-template-columns: 20% repeat(3, 1fr) 40%;

        h4{
            color: gold;
        }

        a{
            text-decoration: none;
            color: white;
        }
    }
}

#allProduct{
    @include box();
    margin-top: 40px;

    table{
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 15px;
      }

    #tableName{
        text-align: center;
        font-size: 28px;
    }

    #id{
        display: none;
    }

    input[type="text"]{
        width: 100%;
        border: none;
    }

    input[type="submit"]{
        width: 60px;
        padding: 5px;
    }
}